<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a> 
        </div>

        <!-- <div class="navbar-nav ms-auto">
          <form method="POST" action="/listing/search" class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" name="query" placeholder="Search Destination" >
              <button class="btn search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>Search
              </button> 
          </form>
        </div> -->
        <div class="navbar-nav ms-auto">
          <form method="POST" action="/listing/search" class="d-flex search-box" role="search">
            <input class="form-control me-2 search-inp" type="search" name="query" placeholder="Search Destination" >
              <button class="btn search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>Search
              </button> 
          </form>
        </div>

        <div class="navbar-nav ms-auto">
          
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if(!currUser){ %>
            <button type="button" class="btn btn-primary btn-sm signup"><a class="nav-link" href="/signup"><b class="text-white">Signup</b></a></button>
            <!-- <button class="btn btn-dark"><a class="nav-link" href="/signup"><b class="text-white">Signup</b></a></button> -->
            <button class="btn btn-dark btn-sm login"> <a class="nav-link" href="/login"><b class="text-white">Login</b></a></button>
          
          <% } %><% if(currUser){ %>
            <a class="nav-link" href="/logout"><b>Logout</b></a>
            <% } %>
        </div>
      </div>

      <!-- <div class="navbar-nav ms-auto">
        <form method="POST" action="/listing/search" class="d-flex search-box" role="search">
          <input class="form-control me-2 search-inp" type="search" name="query" placeholder="Search Destination" >
            <button class="btn search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>Search
            </button> 
        </form>
      </div> -->


    </div>
  </nav>

<style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius:25px;
    padding: 0 1rem 0 1rem;
    display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px; /* Default font size for text */
  padding: 0.5rem 1rem; /* Default padding */
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i{
    display:inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  
  .search-box{
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
  .search-box {
    width: 100%; /* Adjust width as needed */
    margin-top: 10px; /* Add spacing if required */
  }

  .search-box .form-control {
    width: 70%; /* Adjust the input size */
    font-size: 14px; /* Optional: smaller font size */
  }
  .search-btn {
    /* background-color: yellow; */
    font-size: 0; /* Hide the text */
    padding: 0.5rem; /* Reduce button size */
  }

  .search-btn i {
    font-size: 1.2rem; /* Keep the icon visible and adjust size */
  }

  .search-box .btn {
    font-size: 0px; /* Optional: smaller button font size */
    padding: 0.3rem 0.5rem; /* Adjust padding */
  }
}
</style>