body{
    font-family: "Plus Jakarta Sans","Sans-Serif" ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

html,body{
    height: 100%;
    margin: 0;
}
.container{
    flex: 1;
    /* max-height: 160px;
    padding-bottom: 2rem; */
}

/*Navbar */
nav{
    position: sticky !important;
    top: 0  !important;
}
.navbar{
    height: 5rem;
    background-color: white;
    
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .fa-compass{
    color: #fe424d;
    font-size: 2rem;
} */
.fa-route{
    color: #fe424d;
    font-size: 2rem;
}

.logo-text{
    font-weight: 700 !important;
}

.nav-link{
    color: #222222 !important;
}
.signup{
    margin-right: 4px;
    border-radius: 20px !important;
}
.login{
    margin-right: 4px;
    border-radius: 20px !important;
}
/* .row{
    height: 100vh;
} */


/* Footer */
footer{
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links , .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-links{
    gap: 0.3rem;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards*/

.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;

}
.card-text p{
    font-weight: 400;
}
.price{
    font-weight: 700;
}

.listing-link{
    text-decoration: none;
}
/* Card Effect*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    /* border-radius: 15px !important; */
}

#filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .filter {
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .toggle-filter {
            text-align: right;
            margin-right: 2rem;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
            text-decoration: underline;
        }

        .filter p {
            font-size: 0.8rem;
        }


        .tax-info {
            display: none;
        }

        .tax-toggle {
            border: 1px solid rgba(0, 0, 0, 0.516);
            border-radius: 1rem;
            height: 3.25rem;
            padding: 1rem;
            margin-left: 2rem;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
        }


.filter-tag{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.indi-filter{
    padding: 0.1rem 0 0.1rem 0.6rem;
    background-color: #d3d3d3;
    margin-left: 0.4rem;
    border-radius: 3rem;
    margin-bottom: 0.5rem;
}



/* Show page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}

.signup{
    padding: 5px 15px !important;
    color: #222222 !important;
    background-color: white !important;
}
.signup>a>b{
    color: #222222 !important;
}
.login{
    padding: 5px 15px !important;
}

/* Map */
#map{
    height: 400px;
    width: 60vw;
    background-color: orangered;
}



/* Mobile View Adjustments */
        @media (max-width: 990px) {
            #filters {
                justify-content: space-evenly;
                gap: 8px;
            }

            .filter {
                width: 20px;
                padding: 6px;
            }

            .filter i {
                font-size: 18px;
            }

            .filter p {
                font-size: 9px;
            }



        }


        .filter-scroll-wrapper{
            display: flex;
            align-items: center;
            position: relative;
        }


        /* Very Small Mobile View */
        @media (max-width: 480px) {
            
            .filter {
                width: 51px;
                /* Further reduce width */
                padding: 6px;
            }

            .filter i {
                font-size: 18px;
            }

            .filter p {
                font-size: 10px;
            }
        }




.filters-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    scroll-behavior: smooth;
}


@media (max-width: 768px) {
    .filters-wrapper{
        display: flex;
        /* justify-content: center;
        align-items: center; */
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        gap: 0.2rem;
        padding-bottom: 0.5rem;
    }
    .filter{
        flex: 0 0 auto;
        text-align: center;
        min-width: 25px;
    }
    .filter-link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
}